# Cache all data from Zenodo community

In [2]:
from zenodoExplorer.zenexp import ze

recIDs = [10835267, 10712131, 10890165]
with open("api.key", "r") as keyFile:
    ACCESS_TOKEN = keyFile.readline().rstrip()

ze = ze(ACCESS_TOKEN, recIDs)
ze.read_zdb()
ze.zdb.to_pd('AtomicConfigs')

                 name                                               desc
tag
ac1@10835267    IBM23  EC:EMC liquid PBC, isolated mols, volume scans...
ac1@10712131   SD22NQ  EC:VC:PC:EMC:DMC:DEC mol clusters, 25% of all ...
ac2@10712131  SD22NQQ  EC:VC:PC:EMC:DMC:DEC mol clusters, 7% of all n...

In [3]:
ze.zdb.to_pd('TrainData')

,at_conf,ab_init_code,ab_init_theo
tag,,,
td1@10835267,ac1@10835267,CASTEP,PBE-D2
td2@10835267,ac1@10835267,CP2K,PBE-D3
td1@10712131,ac1@10835267,VASP,B97-D3BJ
td2@10712131,ac1@10712131,PSI4,B97-D3BJ
td3@10712131,ac1@10712131,PSI4,wB97X-D3BJ
td4@10712131,ac2@10712131,PSI4,wB97X-D3BJ
td1@10890165,ac1@10835267,CASTEP (ASE+LAMMPS),PBE-D2 (-fixed charge baseline)

In [4]:
ze.zdb.to_pd('MLIPs')

,tr_data,ml_code,ml_settings,fit_prop
tag,,,,
ml1@10835267,td1@10835267,GAP,"DS, Rcut 3/6","energy, forces, virial"
ml2@10835267,td1@10835267,GAP,"DTS, Rcut 3/6","energy, forces, virial"
ml3@10835267,td2@10835267,GAP,"DS, Rcut 3/6","energy, forces, virial"
ml4@10835267,td2@10835267,GAP,"DTS, Rcut 3/6","energy, forces, virial"
ml1@10712131,td1@10712131,MACE,"Layers 2, Rcut 6+6","energy, forces"
ml2@10712131,td2@10712131,MACE,"Layers 2, Rcut 6+6","energy, forces"
ml3@10712131,td3@10712131,MACE,"Layers 2, Rcut 6+6","energy, forces"
ml4@10712131,td4@10712131,MACE,"Layers 2, Rcut 6+6","energy, forces"
ml1@10890165,td1@10835267,GAP,"DTS, Rcut 3/6 (seeds 1,2,3)","energy, forces, virial"
ml2@10890165,td1@10890165,GAP,"DTS, Rcut 3/6","energy, forces, virial"
ml3@10890165,td1@10835267,MACE,"Layers 2, Rcut 4+4","energy, forces, virial"
ml4@10890165,td1@10835267,MACE,"Layers 2, Rcut 6+6","energy, forces, virial"

In [5]:
ze.zdb.to_pd('MDSims')

,pes_model,md_code,md_system,md_no_at,md_ensmb,md_step,md_len,md_temp,md_pres
tag,,,,,,,,,
md1@10835267,ml4@10835267,LAMMPS,"0%, 33%, 67%, 100% EC:EMC",1000,NPT,1.0 fs,1.0 ns,300 K,1 atm
md2@10835267,ml4@10835267,LAMMPS,"0%, 33%, 67%, 100% EC:EMC",1000,NPT,1.0 fs,1.0 ns,350 K,1 atm
md1@10712131,ml3@10712131,ASE,EMC,1000,NPT,1.0 fs,1.0 ns,298 K,1 atm
md2@10712131,ml3@10712131,ASE,"0%, 33%, 67%, 100% EC:EMC",1000,NPT,0.5 fs,0.5-1.0 ns,"298, 298, 298, 313 K",1 atm
md3@10712131,ml4@10712131,ASE,"0%, 33%, 67%, 100% EC:EMC",1000,NPT,1.0 fs,0.5 ns,"298, 298, 298, 313 K",1 atm
md4@10712131,ml1@10712131,ASE,"0%, 33%, 67%, 100% EC:EMC",1000,NPT,1.0 fs,0.8-1.0 ns,"298, 298, 298, 313 K",1 atm
md5@10712131,ml2@10712131,ASE,"0%, 33%, 67%, 100% EC:EMC",1000,NPT,1.0 fs,0.8-1.0 ns,"298, 298, 298, 313 K",1 atm
md1@10890165,ml2@10835267,LAMMPS,"33% EC:EMC (seeds 1,2,3)",640,"NPT, NVT",1.0 fs,0.6 ns,500 K,1 atm
md2@10890165,ml1@10890165,LAMMPS,33% EC:EMC,640,"NPT, NVT",1.0 fs,0.6 ns,500 K,1 atm
md3@10890165,ml2@10890165,LAMMPS,"33% EC:EMC (seeds 1,2,3)",640,"NPT, NVT",1.0 fs,1.0 ns,500 K,1 atm
md4@10890165,ml4@10890165,LAMMPS,33% EC:EMC,640,"NPT, NVT",1.0 fs,0.5 ns,500 K,1 atm
md5@10890165,ml3@10890165,LAMMPS,33% EC:EMC,640,"NPT, NVT",1.0 fs,0.9 ns,500 K,1 atm
md6@10890165,ml3@10890165,ASE,"33% EC:EMC (seeds 1,2,3)",640,"NPT, NVT",1.0 fs,0.9 ns,500 K,1 atm

In [6]:
ze.cache_all_data()

10835267

100%|██████████| 31/31 [00:00<00:00, 21878.42it/s]

10712131

100%|██████████| 11/11 [00:00<00:00, 6424.92it/s]

10890165

100%|██████████| 11/11 [00:00<00:00, 7213.47it/s]

In [7]:
ze.zdb.to_pd('AtomicConfigs')

                 name                                               desc
tag
ac1@10835267    IBM23  EC:EMC liquid PBC, isolated mols, volume scans...
ac1@10712131   SD22NQ  EC:VC:PC:EMC:DMC:DEC mol clusters, 25% of all ...
ac2@10712131  SD22NQQ  EC:VC:PC:EMC:DMC:DEC mol clusters, 7% of all n...